@page
@model LibMan.Pages.BookImageModel
@{
    ViewData["Title"] = "BookImage";
    Layout = "~/Pages/Shared/_LayoutUser.cshtml";
}

@section Styles {
    <link rel="stylesheet" href="~/css/dropzone.css" />
}

<style type="text/css">
    .thumb-image {
        float: left;
        max-width: 100%;
        height: 230px;
        position: relative;
        padding: 5px;
    }
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<h3 style="color: #FFFFFF;">Just one more step until your ready...</h3>
<br />
<h4 style="color: #FFFFFF;">Now, upload your book cover's file that you named in the previous step!</h4>
<div class="form-group">
    <div class="col-md-12" style="background-color:#ffe6b3; border: 3px outset #ffda8c;">
        <form method="post" enctype="multipart/form-data" id="imageUploadForm" class="dropzone">
            <div class="fallback">
                <div class="form-group">
                    <input id="fileUpload" multiple="multiple" name="image" type="file" class="form-control" accept="image/*" />
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Upload" class="buttons" />
                <input type="submit" value="Cancel" class="cancelbtn" />
            </div>
        </form>
    </div>
    <div class="imagecolumn" id="wrapper" style="margin-top: 20px;">
        <div id="image-holder" style="color:#FFFFFF;"><center>Your image will appear in here!</center></div>
    </div>
</div>
@section Scripts {
    <script>

        $("#fileUpload").on('change', function () {

            if (typeof (FileReader) != "undefined") {

                var image_holder = $("#image-holder");
                image_holder.empty();

                var reader = new FileReader();
                reader.onload = function (e) {
                    $("<img />", {
                        "src": e.target.result,
                        "class": "thumb-image"
                    }).appendTo(image_holder);

                }
                image_holder.show();
                reader.readAsDataURL($(this)[0].files[0]);
            } else {
                alert("This browser does not support FileReader.");
            }
        });

    </script>
}

